h2 {
    color: orange;
    font-family : trrbuchrt MS;
    tex-align : center;
}

.kotak{
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 10px;
    background: orange;
}

#kotak{
    width: 400px;
    color: #fff;
    background: blue;
    padding: 50px;
}

body{
    background: lightcyan;
    color: white;
}

body{
    background: url('img/tree1.jpeg'), url('img/field1.jpg');
    background-repeat: no-repeat, repeat;
    color: white;            
}